<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244059185698-0act0lpjjtom2ti68rdn3q0csjqpkr96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244059185698-0act0lpjjtom2ti68rdn3q0csjqpkr96</string>
	<key>API_KEY</key>
	<string>AIzaSyDqKzsT9kkCybHaTrtPNhTKzkR94bEhYGU</string>
	<key>GCM_SENDER_ID</key>
	<string>244059185698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SDU.Nike-Shop</string>
	<key>PROJECT_ID</key>
	<string>nikeshop-46957</string>
	<key>STORAGE_BUCKET</key>
	<string>nikeshop-46957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244059185698:ios:6016ea4d2297759c45a07b</string>
</dict>
</plist>